---
// Import de componentes de react
import Lista from "../components/lista.tsx";//import para el componente "Lista" desde lista.tsx
---

<html>
  <head>
    <title>Prueba Tecnica - Preguntas y Respuestas</title>
  </head>
  <body>    
    <!-- Carga el componente de lista en la pagina, renderiza y lo pone del lado del cliente -->
    <Lista client:load />

   
  </body>
</html>
